@import '../../../styles.scss';
.navbar {padding: 0; margin: 0 ; }
.navbar .navbar-nav .nav-link { color: white;}
.navbar .navbar-nav .nav-link:hover { color: #fbc531;  overflow: hidden;}

footer a.text-light:hover { color: #fed136!important; text-decoration: none; overflow: hidden; }
footer .cizgi { border-right: 1px solid #535e67; }
@media (max-width: 992px) { footer .cizgi { border-right: none; } }
.logo-img {
  height: 36px;
}
.bg-main {
  background: #375a7f;
  padding: 15px;
}
.main-hed {
  color: white !important;
}
.ul-bg {
  background: #3498db;
  border-radius: 4px;
}
.fl-right {
  justify-content: flex-end;
  display: flex;
}
.btn-bg {
  background: #3498db;
  color: white;
}



.navbar-btn{
  background: transparent;
  border: none;
  font-size: 28px;
  color: #008fd4;
}

.active{background: #2383c6; color: white !important;}
.up-icon {
  margin-bottom: -5px;
}

.iconi {
display: none;
  position: absolute;
  font-size: x-large;
  color: #e8e822;
  padding-left: 20px;
}
.bar-color {
  color: white;
  background: #e2928f;
  padding: 5px 10px;
    border-radius: 17px;

}
.header-user-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #0b87c5;
  margin-top: 2px;
}


.header-tag {
  position: fixed;
  width: auto;

  @include mobile {
    position: inherit;
    width: auto;
  }
  @media only screen and (min-width : 1824px) {
    position: fixed;
    width: 300px;
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width : 1224px) {
    position: fixed;
    width: 240px;
  }
  @include tablet {
    height: auto;
    position: inherit;
  }

}
.background{
  background-color: #d9534f;
  height: 100vh;
  @include mobile {
    height:auto;
  }
  @include tablet {
    height: auto;
  }


.main-logo {
  color: white !important;
  font-size: 39px;
}
.hide-logo {
  @include mobile {
    display: none;
  }
}
.btn-logout {
  justify-content: center;
  color: white;
  background: transparent;
}
.btn-logout:hover {
  background: #691d1a;
  border-radius: 4px;

}
}

@media (min-width:767px) and (max-width:768px) {
   .background {
     height: 100vh;
     position: fixed;

   }


}
