.bg-color {
  background: black;
}
.btn-edit {
  color: white;
  background: #375a7f;
}
.main-row {
  display: flex;
  justify-content: center;
}
.bg-color1 {
  background: #303030;
}
.bg-text {
  color:white
}
.profile-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.img-div {
  height: 160px;
}
.img-div2 {
  height: 200px;
}
.bg-email {
  color: #00bb8c;

}
.icon-bg {
  color: white;
  font-size: xx-large;
  margin: 10px;
}
.save-div {
  justify-content: center;
  display: flex;
}
